<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd" colors="true" bootstrap="vendor/autoload.php" cacheResult="false" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Defense">
      <!-- Make discovery explicit -->
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <!-- <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
      <clover outputFile="build/coverage/clover.xml"/>
    </report>
  </coverage> -->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
